node_modules/**
.tmp/**
.sass-cache
coverage/**
dist/**
report/**
*.sublime-project
*.sublime-workspace
.idea/**
_animate.scss
_branding.scss
_mixins.scss
_vendor.scss
/.project
/.DS_Store
/META-INF/
/build.properties
*.iml
