
<div class="email-alert-modals email-confirmation container-fluid buffer">
  <div class="button-container">
    <svg  class="close-button"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          width="22px"
          height="22px"
          viewBox="0 0 22 22"
          enable-background="new 0 0 22 22"
          xml:space="preserve"
          ng-click="$close(false)">
      <path d="M11,0.041C4.947,0.041,0.041,4.947,0.041,11S4.947,21.959,11,21.959S21.959,17.053,21.959,11S17.053,0.041,11,0.041z M17.351,14.518l-2.829,2.828l-3.535-3.535l-3.535,3.535l-2.828-2.828l3.535-3.536L4.623,7.446l2.828-2.828l3.535,3.535l3.535-3.535l2.829,2.828l-3.536,3.536L17.351,14.518z"/>
    </svg>
  </div>

  <div class="row divider">
    <h3 class="no-margin">Email confirmation is required.</h3>
  </div>

  <div class="row divider">
    <p>An email will be sent to {{ (alert.attributes.emailAddressUserDefined)? alert.attributes.emailAddressUserDefined : alert.attributes.emailAddressProfile }}.</p>
    <p>Please follow the instructions contained in that message to confirm the email address.</p>
    <p class="no-margin">Once the email address in confirmed, we will begin sending alerts to that address.</p>
  </div>

  <div class="">
    <div class="pull-left">
      <button ng-click="$close()">Okay</button>
    </div>
  </div>
</div>
