<p><b>Learn from the pros</b> -- Hear what hiring managers have to say about what makes a good cover letter.</p>
<p>A well-crafted cover letter sets the tone for your entire application. It offers a clear snapshot of who you are. What you can bring to the job takes time and effort to write, which is why a lot of people don't bother. That mistake can cost you, big-time. If you're still not convinced, watch the video below from a senior business analyst that describes why good cover letters are important. Here, a senior business analyst, describes why good cover letters are important.</p>
<p class="video-container">
  <iframe frameborder="0" width="100%" height="100%" src="https://www.youtube.com/embed/_HbUMmKF48o?rel=0&amp;wmode=transparent&amp;enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer" style="margin: 0 auto;display: block;"></iframe>
</p>
<h3>Who would YOU interview?</h3>
<p>In this activity, we'll show you three different cover letters from three different candidates who are all applying for the same job. You're the hiring manager, and it's your job to choose the best candidate. Who would you choose, and why?</p>
<p><b>Read the following job description, check out the sample cover letters and decide which candidate you would most like to interview.</b> Think about why you made that decision and apply those insights to writing your own cover letter.</p>
<p><b>Inside Sales Representative</b></p>
<p>Voxer Business was built with the mission to help our customers communicate more efficiently with minimum disruption. We are the fastest growing voice application in the world, transforming the way our customers communicate and also do business.</p>
<p>The Inside Sales Representative is a vital role in our Business Development process. You will be responsible for key aspects of the sales cycle including prospecting for new opportunities, developing, accelerating, up-selling and closing sales with our rapidly growing list of customers. The ideal candidate will have direct sales experience with knowledge of SaaS technology, push-to-talk or radio communications. If you are a motivated and tenacious sales professional, we would love to talk to you!</p>
<p><b>Responsibilities</b></p>
<ul>
  <li>Achieve and consistently exceed daily, weekly, and monthly sales quotas.</li>
  <li>Contact prospects via telephone to identify decision makers, and qualify and drive leads through the sales pipeline.</li>
  <li>Use multiple lead-generation tools (Salesforce.com) to generate potential sales.</li>
  <li>Respond to inbound interest. Schedule and perform product demonstrations and presentations for prospects and customers.</li>
  <li>Work with Product and Marketing to convey feedback on customer requirements and drive product strategy.</li>
  <li>Desired Skills and Experience.</li>
</ul>
<p><b>Qualifications</b></p>
<ul>
  <li>Prior sales experience with B2B mobile and/or software. Previous phone sales experience preferred.</li>
  <li>Must be a self-starter with a measurable ability to multi-task and adapt to changing situations.</li>
  <li>Excellent written and verbal communication skills resulting in the ability to influence others. Must have strong presentation skills.</li>
  <li>Strong interpersonal and relationship building skills.</li>
  <li>Excellent problem solving and analytical skills.</li>
  <li>Ability to work independently. Must be task oriented and focused.</li>
  <li>Convey a sense of urgency and drive issues to closure.</li>
  <li>Bachelor's Degree required, coupled with the desire to build a sales career, in a fast-paced technology company.</li>
</ul>
<p>&nbsp;</p>
<p><b>Now choose the best cover letter for the job description shown above:</b></p>
<div class="three-col styled-radio">
  <div class="row">
    <figure class="col">
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/letter-employers/mark-cain.html', 'lg')" aria-label="View Cover Letter A">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/coverletter-thumbnail-good.jpg" />
      </a>
      <figcaption id="coverletter-a">Cover Letter A</figcaption>
      <label>
        <input type="radio" id="coverletter-choice-1" value="1" ng-model="choice" name="coverletter-choice" tabindex="0" aria-labelledby="coverletter-a"/>
        <span></span>
      </label>

    </figure>
    <figure class="col">
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/letter-employers/kathy-berger.html', 'lg')" aria-label="View Cover Letter B">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/coverletter-thumbnail-bad.jpg" />
      </a>
      <figcaption>Cover Letter B</figcaption>
      <label>
        <input type="radio" id="coverletter-choice-2" value="2" ng-model="choice" name="coverletter-choice" tabindex="0" aria-label="Cover Letter B"/>
        <span></span>
      </label>
    </figure>
    <figure class="col">
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/letter-employers/janet-jones.html', 'lg')" aria-label="View Cover Letter C">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/coverletter-thumbnail-okay.jpg" />
      </a>
      <figcaption>Cover Letter C</figcaption>
      <label>
        <input type="radio" id="coverletter-choice-3" value="3" ng-model="choice" name="coverletter-choice" tabindex="0" aria-label="Cover Letter C"/>
        <span></span>
      </label>
    </figure>
  </div>
</div>
<div class="milestone-test-result">
  <div ng-show="choice == 1">
    <div>
      <span class="icon icon-correct-option"></span>
      <h4>Correct</h4>
    </div>
    <div class="ten-off-one">
      <div class="row">
        <div class="col">
          <p>
            Cover Letter A is the best option, and here's why:
          </p>
          <ol>
            <li>Addressed to a specific person </li>
            <li>Includes research about the company</li>
            <li>Addresses the skills that the employer is looking for and provides concrete, tangible examples of each skill </li>
            <li>Indicates that a resume is also included </li>
            <li>Has follow up and contact information </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="choice == 2">
    <div>
      <span class="icon icon-incorrect-option"></span>
      <h4>Incorrect</h4>
    </div>
    <div class="ten-off-one">
      <div class="row">
        <div class="col">
          <p>
            Cover Letter B is incorrect, and here's why:
          </p>
          <ol>
            <li>Not addressed to a specific individual or company</li>
            <li>Does not list company name, address or specific job title</li>
            <li>It has spelling and grammar mistakes</li>
            <li>The writer refers to herself in the third person</li>
            <li>Does not include specific, measurable examples of her abilities </li>
            <li>Fails to address the skills listed in the job description</li>
            <li>Language is rambling and difficult to follow</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="choice == 3">
    <div>
      <span class="icon icon-incorrect-option"></span>
      <h4>Incorrect</h4>
    </div>
    <div class="ten-off-one">
      <div class="row">
        <div class="col">
          <p>
            Cover Letter C is incorrect, and here's why:
          </p>
          <ol>
            <li>Addressed to specific person but the company is not indicated</li>
            <li>It does address some the skills that the employer is looking for but it does not provide concrete, measurable details.</li>
            <li>Information about her degree is great to include, but it shouldn't be included as a "strength." </li>
            <li>She should have used the last bullet to address another skill like her ability to problem solve. </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<h3>What makes a good cover letter?</h3>
<p>Before sitting down to write your cover letter, look at this example to help you discover the do's and dont's of good cover letter writing. We are going to use the best cover letter from above and dive deeper into the details of what makes this cover letter shine.</p>
<div class="two-col">
  <div class="row">
    <figure class="col">
      <figcaption id="sample-great">View sample cover letter</figcaption>
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/letter-employers/mark-cain.html', 'lg')" aria-labelledby="sample-great">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/coverletter-thumbnail-good.jpg" />
      </a>
    </figure>
    <figure class="col">
      <figcaption id="why-great">Here's why it's great</figcaption>
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/letter-employers/mark-cain-annotated.html', 'lg')" aria-labelledby="why-great">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/coverletter-thumbnail-good.jpg" />
      </a>
    </figure>
  </div>
</div>
