.header {
  .brand-top {
    background-color: $garnet;
    padding: 10px 0;
  }
  .brand-bottom {
    background: #d8d7d7;
    border-bottom: 1px solid $gray;
  }
}

.brand-bar {
  max-width: 1200px;
  margin: auto;
  .row {
    margin-top: 10px;
  }
  a {
    color: $gray-lighter;
    font-size: 95%;
    font-weight: 400;
  }
  a:hover {
    color: $white;
  }
  h2 {
    display: inline-block;
    margin: 10px;
    color: $white;
    font-family: "Neuton, serif";
    font-size: 34px;
    vertical-align: middle;
  }
}

.universityLogo {
  width: 60px;
  height: 60px;
}

.header-nav {
  max-width: 1200px;
  margin: auto;
  .row {
    margin-bottom: 0;
  }
  ul {
    margin: 0;
    padding: 6px 0;
  }
  .first-name {
    text-transform: capitalize;
  }
  li {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    line-height: 34px;
    padding-right: 10px;
    color: $gray-darker;
    a, button.btn-link {
      color: $gray-darker;
      display: block;
    }
  }
  .not-user-link {
    color: $gray-dark;
  }
}
