<section class="login-modal text-center" ng-controller="ForgotPasswordCtrl as password">
  <!-- Header -->
  <header class="one-col">
    <div class="row">
      <div class="col">
        <h1 class="font-large">Forgot Your Password?</h1>
        <a ng-if="main && main.mode" href="" class="modal-close-link" ng-click="$dismiss()" title="Close dialog"
           role="button"><span class="icon"></span></a>
      </div>
    </div>
  </header>
  <!-- Main -->
  <div class="eight-off-two">
    <div class="row">
      <div class="col">
        <div class="one-col">
          <!--<header class="row">-->
          <!--<div class="col">-->
          <!--<h5 class="text-center"></h5>-->
          <!--</div>-->
          <!--</header>-->
          <div class="row">
            <div class="col">
              <p ng-hide="password.success">Enter your email and we'll send you instructions on how to reset your password.</p>
              <alert type="success" ng-if="password.success">Keep an eye on your inbox, we'll send you a link to reset
                your password.
                <!--and <a ui-sref="pre-auth.login" role="button" tabindex="0"-->
                                         <!--ng-click="main.go($event, 'login')">Sign in.</a>-->
              </alert>
              <alert type="danger" ng-if="password.server">Sorry, We couldn't find your account with that
                information</alert>
              <form id="forgotPasswordForm" ng-submit="passwordPromise = password.password()" class="password-form"
                    name="password.passwordForm" novalidate role="form">
                <div class="form-group"
                     ng-class="{'has-error': (!password.passwordForm.username.$pristine || password.passwordForm.$submitted) &&
                     password.passwordForm.username.$invalid}">
                  <label for="username" class="sr-only">Username (Email)</label>
                  <input type="email" id="username" name="username"
                         ng-model="password.formValues.username"
                         ng-model-options="{ updateOn: 'blur', debounce: { 'blur': 0 } }"
                         placeholder="youremail@example.com"
                         class="form-control"
                         ng-class="{'has-server-error': password.server}"
                         required
                         focus-if="true"
                         focus-delay="500"
                         autofocus>

                  <div ng-messages="password.passwordForm.username.$error"
                       ng-if="password.passwordForm.$submitted || password.passwordForm.username.$dirty"
                       class="help-block">
                    <p ng-message="required">Your email is required.</p>

                    <p ng-message="email">Must be a valid email address.</p>
                  </div>
                </div>
                <div>
                  <button type="submit" class="btn btn-large button"
                          cg-busy="{promise: passwordPromise, profile: 'inlineReplaceSmall'}"
                          ng-hide="password.inModal() && password.success">Reset password
                  </button>
                  <button type="button" class="btn btn-large button"
                          ng-show="password.inModal() && password.success"
                          ng-click="$close()">
                    Close
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="one-col" ng-hide="password.success">
    <div class="row">
      <div class="col">
        <p class="small">
          Need an account? <a ui-sref="un-auth.registration" role="button" tabindex="0" ng-click="main.go($event, 'register')">Sign up.</a>
        </p>
      </div>
    </div>
  </div>

</section>
