<section class="text-center" ng-controller="PasswordResetCtrl as reset">
  <div class="six-off-three container password">
    <header class="row">
      <div class="col">
        <h1 class="">RESET YOUR PASSWORD</h1>
      </div>
    </header>
    <div class="row">
      <div class="col">
        <alert type="danger" ng-if="reset.server">Sorry, Forgot Password link has expired. Please use the link in the
          latest Forgot Password email
        </alert>
        <alert type="success" ng-if="reset.successfullyReset">Your password was successfully reset!
          <a ui-sref="un-auth.login" role="button">Sign
            in.</a><span ng-if="!reset.accessRequired"> or return to <a ui-sref="auth.dashboard">home</a>.</span>
        </alert>
        <div ng-hide="reset.successfullyReset">
        <p>Enter your new password to update it.</p>

        <form ng-submit="resetPromise = reset.resetPassword()" class="registration-form password"
              name="reset.resetForm"
              novalidate role="form">

          <div class="form-group"
               ng-class="{'has-error': ((!reset.resetForm.password.$pristine || reset.resetForm.$submitted)
                && reset.resetForm.password.$error.required)}">
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="password"
                   ng-model="reset.formValues.password"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                   placeholder="Password"
                   class="form-control"
                   required
                   focus-if="true"
                   autofocus>

            <div ng-messages="reset.resetForm.password.$error"
                 ng-if="reset.resetForm.$submitted || reset.resetForm.password.$dirty" class="help-block">
              <p ng-message="required">Your password is required.</p>
            </div>
          </div>
          <div class="form-group"
               ng-class="{'has-error': (!reset.resetForm.passwordConfirm.$pristine || reset.resetForm.$submitted) &&
                (reset.resetForm.passwordConfirm.$error.required || reset.resetForm.passwordConfirm.$error.mismatch)}">
            <label for="passwordConfirm" class="sr-only">Confirm Your Password</label>
            <input type="password" id="passwordConfirm" name="passwordConfirm"
                   ng-model="reset.formValues.passwordConfirm"
                   ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }"
                   placeholder="Retype Your Password"
                   class="form-control"
                   required
                   ui-validate="{mismatch: '$value==reset.formValues.password'}"
                   ui-validate-watch="'reset.formValues.password'">

            <div ng-messages="reset.resetForm.passwordConfirm.$error"
                 ng-if="reset.resetForm.$submitted || reset.resetForm.passwordConfirm.$dirty" class="help-block">
              <p ng-message="required">This field is required.</p>

              <p ng-message="mismatch">Your passwords do not match.</p>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-large" cg-busy="{promise: resetPromise, inline: true}">Update
              password
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer ng-hide="reset.successfullyReset" class="one-col container">
    <div class="row registration-sign-in">
      <div class="col">
        <!-- ng-click="reset.login($event, 'login')"-->
        <p class="small">Already have an account? <a ui-sref="un-auth.login" role="button">Sign
          in.</a></p>
      </div>
    </div>
  </footer>
</section>
