<p>Your resume is the first thing potential employers will see, so make sure you’re putting your best foot forward.</p>
<p>
  <b>Watch this video to learn how to write a great resume.</b>
</p>
<p class="video-container">
  <iframe frameborder="0" width="100%" height="100%" src="https://www.youtube.com/embed/NtiJaKRaV3U?rel=0&amp;wmode=transparent&amp;enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer" style="margin: 0 auto;display: block;"></iframe>
</p>
<p>
  <b>Ever wonder what employers look for on a resume?</b>
</p>
<p>Here’s your chance for the inside scoop from someone who reviews hundreds of them a year. Listen to what this HR professional has to say:</p>
<p class="video-container">
  <iframe frameborder="0" width="100%" height="100%" src="https://www.youtube.com/embed/Gmina3ZdmXs?rel=0&amp;wmode=transparent&amp;enablejsapi=1&amp;version=3&amp;playerapiid=ytplayer" style="margin: 0 auto;display: block;"></iframe>
</p>
<h3>Find the errors:</h3>
<p>Now that you know what recruiters look for in a resume it's your turn to put yourself in the hiring manager's shoes. A smooth, professional resume gets recruiters’ attention. A resume with an error (or many errors) will quickly get thrown in the trash.</p>
<p><b>Can you spot the errors in the resume shown below?</b></p>
<ol>
  <li>Open the resume on the left. How many issues can you find that could be improved?</li>
  <li>Look at the resume on the right to see if you found all of the issues.</li>
</ol>
<div class="two-col">
  <div class="row">
    <figure class="col">
      <figcaption>Find the errors</figcaption>
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/resume-discover/sally-smith.html', 'lg')" aria-label="View resume and find the errors">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/resume-thumbnail.jpg" />
      </a>
    </figure>
    <figure class="col">
      <figcaption>Errors shown</figcaption>
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/resume-discover/sally-smith-annotated.html', 'lg')" aria-label="View resume with errors shown">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/resume-thumbnail.jpg" />
      </a>
    </figure>
  </div>
</div>
<h3>Play the Recruiter:</h3>
<p>Pretend that you are a hiring manager looking to hire for a Medical Records Technician&nbsp;(job description below). Which candidate would you pick?</p>
<p><b>How to play:</b></p>
<ol>
  <li>Read the job description</li>
  <li>Review the three resumes and decide which candidate you want to interview. (Remember, recruiters spend less than one minute reviewing each resume, so set a timer and get to work!)
  </li>
  <li>Select the candidate you would bring in for an interview by clicking the circle below</li>
</ol>
<p><b>Job Description:</b></p>
<p>Medical Records Technician</p>
<p>The Medical Records Technician maintains the medical record component of customer charts in a long-term care facility. Included are physician order sheets, medication administration records and treatment administration records. The Medical Records Technician interacts with the other departments in the pharmacy to provide requested reports to centers on a scheduled basis.</p>
<p>Requirements:</p>
<ul>
  <li>Expert in records management</li>
  <li>Enters all non-medication orders into customer specific profiles</li>
  <li>Accurate maintenance of all facility forms and reporting information</li>
  <li>Ability to work with directors of nursing, physicians and admin staff on resident set-up</li>
  <li>Follow all applicable government regulations including HIPAA</li>
  <li>Strong communicator who is able to assist internal and external customers</li>
  <li>Working knowledge of multiple medical systems including CPT and Medisoft Advanced</li>
  <li>Knowledge of medical and pharmacy terminology</li>
  <li>Ability to work independently, meet deadlines and be flexible</li>
  <li>Associates degree required</li>
</ul>
<p>&nbsp;</p>
<p>
  <b>Click on each resume below to view it full screen. Then select the best resume by using the circle below your favorite candidate.</b>
</p>
<div class="three-col styled-radio">
  <div class="row">
    <figure class="col">
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/resume-discover/ben-richards.html', 'lg')" aria-label="View Candidate 3's resume">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/resume-thumbnail-okay.jpg" />
      </a>
      <figcaption>Candidate 1</figcaption>
      <label>
        <input type="radio" id="resume-choice-1" value="1" ng-model="choice" name="resume-choice" tabindex="0" aria-label="Candidate 1"/>
        <span></span>
      </label>
      <!-- <label for="resume-choice-1" aria-label="Candidate 1"></label> -->
    </figure>
    <figure class="col">
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/resume-discover/haley-garcia.html', 'lg')" aria-label="View Candidate 2's resume">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/resume-thumbnail-good.jpg" />
      </a>
      <figcaption>Candidate 2</figcaption>
      <label>
        <input type="radio" id="resume-choice-2" value="2" ng-model="choice" name="resume-choice" tabindex="0" aria-label="Candidate 2"/>
        <span></span>
      </label>
      <!-- <label for="resume-choice-2" aria-label="Candidate 2"></label> -->
    </figure>
    <figure class="col">
      <a href="" role="button" ng-click="milestone.openTemplate('app/activities/resume-discover/sally-smith.html', 'lg')" aria-label="View Candidate 3's resume">
        <span class="icon icon-search-med"></span>
        <img src="assets/images/activities/resume-thumbnail-bad.jpg" />
      </a>
      <figcaption>Candidate 3</figcaption>
      <label>
        <input type="radio" id="resume-choice-3" value="3" ng-model="choice" name="resume-choice" tabindex="0" aria-label="Candidate 3"/>
        <span></span>
      </label>
    </figure>
  </div>
</div>
<div class="milestone-test-result">
  <div ng-show="choice == 1">
    <div>
      <span class="icon icon-incorrect-option"></span>
      <h4>Incorrect</h4>
    </div>
    <div class="ten-off-one">
      <div class="row">
        <div class="col">
          <p>
            Candidate 1 is not the correct answer. Here's why:
          </p>
          <ol>
            <li>The summary should be more targeted: "Enjoy helping people..." is not specific enough to this job. Talk about records management instead.</li>
            <li>"Host, Server" position at the Chinese restaurant is not related to this job nor does it speak to the skills needed for this job. It should be taken off of this resume.</li>
            <li>Spelling errors - use spellcheck!</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="choice == 2">
    <div>
      <span class="icon icon-correct-option"></span>
      <h4>Correct</h4>
    </div>
    <div class="ten-off-one">
      <div class="row">
        <div class="col">
          <p>
            Candidate 2 is the correct answer, well done! Here's why:
          </p>
          <ol>
            <li>Summary is very robust and includes records management and pharmaceutical knowledge.</li>
            <li>Includes a technical skills line, which directly addresses her knowledge of medical systems.</li>
            <li>Bullets convey specifics related to the job description.</li>
            <li>She emphasizes that she has worked in long term care facilities, which is the focus for the company.</li>
            <li>She shows all relevant degrees and certifications.</li>
            <li>Additional information added is related to the Medical Records Technician position.</li>
            <li>She highlights her promotion from a contractor role to a full time employee.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="choice == 3">
    <div>
      <span class="icon icon-incorrect-option"></span>
      <h4>Incorrect</h4>
    </div>
    <div class="ten-off-one">
      <div class="row">
        <div class="col">
          <p>
            Candidate 3 is not the correct answer. Here's why:
          </p>
          <ol>
            <li>Contact information - email address is not professional.</li>
            <li>Dates - should specify month and year for each start and end date.</li>
            <li>Objective statement is not specific to this job</li>
            <li>Spelling errors - use spellcheck! ( "adminstrative" and "companys")</li>
            <li>Should use bullets for achievements under each position</li>
            <li>Accomplishments included are not targeted to this position</li>
            <li>Should not include references</li>
            <li>Education section is missing</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
