<div class="my-goal-btn-wrapper" popover="{{myGoal.myGoalInfo.reachedSavedLimit && !myGoal.isSaved && !viewGoalsOnLimit ? myGoal.savedLimitPopupMessage : undefined}}" popover-trigger="mouseenter" popover-placement="top">
  <button ng-if="!(viewGoalsOnLimit && myGoal.myGoalInfo.reachedSavedLimit)" class="my-goal-btn full-width" ng-class="{add: !myGoal.isSaved, remove: myGoal.isSaved, 'table-sz': tableSize}" ng-click="myGoalWait = myGoal.saveOrRemove()" ng-disabled="!myGoal.isSaved && myGoal.myGoalInfo.reachedSavedLimit" cg-busy="{promise: myGoalWait, profile:'inlineReplaceSmall'}">
    {{myGoal.isSaved ? 'Remove this Goal' : 'Add to My Goals'}}
    <span class="iconSvg pull-right">
      <svg-wrap class="addGoalIcon" ng-show="!myGoal.isSaved">
          <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
          <circle cx="11" cy="11" r="10" />
          <path d="M18.749,3.251c-4.28-4.28-11.218-4.28-15.498,0c-4.28,4.279-4.28,11.218,0,15.498
              c4.28,4.28,11.218,4.28,15.498,0S23.029,7.53,18.749,3.251z M4.414,17.586c-3.638-3.638-3.638-9.535,0-13.173
              c3.638-3.638,9.536-3.639,13.174,0c3.638,3.638,3.638,9.536,0,13.174S8.052,21.225,4.414,17.586z"/>
          <polygon points="17.041,12.959 17.041,8.959 13.041,8.959 13.041,4.959 9.042,4.959 9.042,8.959 5.041,8.96
            5.041,12.959 9.05,12.959 9.05,16.959 13.041,16.959 13.041,12.958  "/>
        </svg>
      </svg-wrap>
      <svg-wrap ng-show="myGoal.isSaved">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="22px" height="22px" viewBox="0 0 22 22" enable-background="new 0 0 22 22" xml:space="preserve">
        <circle cx="11" cy="11" r="10" />
        <path d="M18.749,3.251c-4.28-4.28-11.218-4.28-15.498,0c-4.28,4.279-4.28,11.218,0,15.498
            c4.28,4.28,11.218,4.28,15.498,0S23.029,7.53,18.749,3.251z M4.414,17.586c-3.638-3.638-3.638-9.535,0-13.173
            c3.638-3.638,9.536-3.639,13.174,0c3.638,3.638,3.638,9.536,0,13.174S8.052,21.225,4.414,17.586z"/>
          <rect width="14" height="4" x="4" y="9" />
        </svg>
      </svg-wrap>
    </span>
  </button>
  <a ng-if="viewGoalsOnLimit && myGoal.myGoalInfo.reachedSavedLimit" class="my-goal-btn button full-width" ui-sref="auth.tools.view({toolId: 'careerExploration', viewId: 'myGoals'})" ui-sref-opts="{inherit: false}">View Your Goals</a>
</div>
